<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register - _sitename_</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <form action="register.php" method="post" enctype="multipart/form-data">
        name: 
        <input name="name" id="name"><br>description: 
        <input name="pass" id="pass" type="password"><br>
        <script src="doom.js?version=16" countdown="on" label="Captcha" enemies="4"></script>
        <input type="submit" value="Upload Image" name="submit">
      </form>
	<script src="index.js"></script>
  </body>
</html>